h2.f2.tc.roboto-slab.b.gray Projects

.w-100.mt5.ph3.mxw-xxxl.center(fxLayout='row wrap', fxLayoutAlign='space-around center')
  mk-project-card.w-30.mh2.mv3(
    *ngFor='let project of projectCards',
    [title]='project.title',
    [imageUrl]='project.imageUrl',
    [tags]='project.tags'
  )
