h2.f2.tc.roboto-slab.b.gray Projects

.w-100.mt5.ph3.mxw-xxxl.center.project-card_container(fxLayout='row wrap', fxLayoutAlign='center center', (mkEleInView)='onEleInView()')
  ng-container(*ngIf='isInView')
    mk-project-card.w-30.mh3.mv3(
      *ngFor='let project of projectCards',
      [title]='project.title',
      [imageUrl]='project.imageUrl',
      [link]='project.link',
      [tags]='project.tags'
    )
