@import '~styles/utility';

:host {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /deep/ mk-project-card,
  /deep/ mat-card {
    min-width: 305px;
    max-width: 390px;
    min-height: 390px;
  }

  /deep/ mk-project-card {
    opacity: 1;
  }

  .project-card_container {
    min-height: 390px;
  }
}
