@import '~styles/utility';
@import '~breakpoint-sass';

$project-card-single: 745px;
$project-cards-3-grid-size-small: 694px;
$project-cards-3-grid-size-large: 745px;
$project-cards-2-grid-size: 1043px;

:host {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /deep/ mk-project-card,
  /deep/ mat-card {
    min-width: 305px;
    max-width: 390px;
    min-height: 310px;

    @include breakpoint($project-card-single) {
      min-height: 390px;
    }
  }

  /deep/ mk-project-card {
    opacity: 1;
  }

  .project-card_container {
    min-height: 1690px;


    @include breakpoint($project-cards-3-grid-size-small) {
      min-height: 1014px;
    }

    @include breakpoint($project-cards-3-grid-size-large) {
      min-height: 1266px;;
    }

    @include breakpoint($project-cards-2-grid-size) {
      min-height: 845px;
    }
  }
}
