h2.f2.tc Projects

.ph6(fxLayout, fxLayoutGap='40px')
  mat-card(
    fxFlex='33%'
  )
    .w-100
      img.w-100(src='https://placeimg.com/380/215/tech')

    h5.f4.tc Food.ee

    div(fxLayout, fxLayoutGap='5px', fxLayoutWrap, fxLayoutAlign='center center')
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-yellow Javascript
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-red AngularJS

  mat-card(
    fxFlex='33%'
  )
    .w-100
      img.w-100(src='https://placeimg.com/380/215/tech')

    h5.f4.tc Dropcuff

    div(fxLayout, fxLayoutGap='5px', fxLayoutWrap, fxLayoutAlign='center center')
      .f6.br-pill.ph3.pv2.mb2.dib.black.bg-purple Elixir
      .f6.br-pill.ph3.pv2.mb2.dib.black.bg-yellow Ramda
      .f6.br-pill.ph3.pv2.mb2.dib.black.bg-red Angular
      .f6.br-pill.ph3.pv2.mb2.dib.black.bg-purple Phoenix
      .f6.br-pill.ph3.pv2.mb2.dib.black.bg-yellow Javascript

  mat-card(
    fxFlex='33%'
  )
    .w-100
      img.w-100(src='https://placeimg.com/380/215/tech')

    h5.f4.tc Edvisor

    div(fxLayout, fxLayoutGap='5px', fxLayoutWrap, fxLayoutAlign='center center')
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-purple Elixir
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-yellow Ramda
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-red AngularJS
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-red Angular
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-purple Phoenix
      .f6.link.dim.br-pill.ph3.pv2.mb2.dib.black.bg-yellow Javascript
