h2.f2.tc.roboto-slab.b.gray Experience

.mt5.ph3.experience_container([@animationRunning]='animationRunning', (eleInView)='onEleInView()')
  ng-container(*ngIf='animationRunning')
    mk-experience-item(
      *ngFor='let item of experienceItems; even as isEven; last as isLast',
      [direction]='isEven ? "left" : "right"',
      [title]='item.title',
      [date]='item.date',
      [content]='item.content',
      [hideTail]='isLast'
    )
