.mt5.relative(#container)
  svg.absolute.w-100.zneg([attr.viewBox]='viewBox', xmlns='http://www.w3.org/2000/svg')
    svg:path([attr.d]='path', [attr.fill]='color', fill-rule='evenodd')

  ng-content
