h2.f2.tc.roboto-slab.gray.b Services

.w-100.mt5.ph3.mxw-xxxl.center(fxLayout='row wrap', fxLayoutAlign='space-around center')
  mat-card.mh2.mv3.w-30.h4.bg-washed-blue.white.mat-elevation-z3(fxLayout='column')
    div(fxLayout='column', fxLayoutAlign='center center')
      .w3
        != require('assets/svg/frontend-white-icon.svg')

      span.f4.mt4(fxLayout='center center') Frontend Development


    p.mt4.f5.lh-copy(ngClass.gt-sm='f6')
      | Let me help you create or fix your frontend application. React, AngularJS, Angular or just plain Javascript I can assist with any

  mat-card.mh2.mv3.w-30.h4.mat-elevation-z3(fxLayout='column')
    div(fxLayout='column', fxLayoutAlign='center center')
      .w3
        != require('assets/svg/gears.svg')

      span.f4.mt4(fxLayout='center center') Build Setup/Troubleshooting


    p.mt4.f5.lh-copy(ngClass.gt-sm='f6')
      | Need a fast backend? Build troubles? Let me debug them for you. Or let me setup your project. I can use Webpack, Gulp or in some cases just NPM scripts!

  mat-card.mh2.mv3.w-30.bg-washed-blue.white.h4.mat-elevation-z3(fxLayout='column')
    div(fxLayout='column', fxLayoutAlign='center center')
      .w3
        != require('assets/svg/backend-white-icon.svg')

      span.f4.mt4(fxLayout='center center') Backend Development


    p.mt4.f5.lh-copy(ngClass.gt-sm='f6')
      | Need a fast backend? I can create high availability and fast backends with Elixir. Ditch REST for some new age GraphQL
