h2.f2.tc.roboto-slab.gray.b Services

.w-100.mt5.ph3.mxw-xxxl.center.services_container(fxLayout='row wrap', fxLayoutAlign='space-around center', (eleInView)='onEleInView()')
  ng-container(*ngIf='isInView')
    mat-card.mh2.mv3.w-30.h4.bg-washed-blue.white.mat-elevation-z3(fxLayout='column')
      div(fxLayout='column', fxLayoutAlign='center center')
        .w3
          != require('assets/svg/frontend-white-icon.svg')

        span.f4.mt4(fxLayout='center center') Frontend Development


      p.mt5.mt4-l.f5.lh-copy(ngClass.gt-sm='f6')
        | Creating a new app? I love setting up new projects and have good knowledge of AngularJS and Angular or just plain Javascript. Occasionally I use React!

    mat-card.mh2.mv3.w-30.h4.mat-elevation-z3(fxLayout='column')
      div(fxLayout='column', fxLayoutAlign='center center')
        .w3
          != require('assets/svg/gears.svg')

        span.f4.mt4(fxLayout='center center') Build Setup/Troubleshooting


      p.mt5.mt4-l.f5.lh-copy(ngClass.gt-sm='f6')
        | Build troubles? I can help debug them. I have lots of experience setting up projects and can use Webpack, Gulp or in some cases just NPM scripts!

    mat-card.mh2.mv3.w-30.bg-washed-blue.white.h4.mat-elevation-z3(fxLayout='column')
      div(fxLayout='column', fxLayoutAlign='center center')
        .w3
          != require('assets/svg/backend-white-icon.svg')

        span.f4.mt4(fxLayout='center center') Backend Development


      p.mt5.mt4-l.f5.lh-copy(ngClass.gt-sm='f6')
        | Need a fast backend? I have experience creating high availability and fast backends with Elixir. Ditch REST and upgrade to GraphQL!
