@import '~styles/utility';

:host {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /deep/ mat-card {
    height: 300px;
    min-width: 305px;
    max-width: 390px;
  }
}

.services_container {
  min-height: 300px;
}
