@import '~styles/utility';
@import '~breakpoint-sass';

$services-2-grid: 667px;
$services-1-grid: 995px;

:host {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /deep/ mat-card {
    height: 300px;
    min-width: 305px;
    max-width: 390px;
  }
}

.services_container {
  min-height: 980px;

  @include breakpoint($services-2-grid) {
    min-height: 660px;;
  }

  @include breakpoint($services-1-grid) {
    min-height: 335px;;
  }
}
