h2.f2.tc Services

.w-100.ph6(fxLayoutAlign='center', fxLayoutGap='40px', fxLayoutWrap.lt-xs)
  mat-card.h4.bg-dark-blue.white(fxLayout='column', fxLayoutAlign='center center', fxFlex='1')
    div(fxFlex='40%', fxLayout='column', fxLayoutAlign='center center')
      .w3
        != require('assets/svg/frontend-icon.svg')

      span.f5(fxLayout='center center') Frontend Development


    p.flex.items-center.flex-auto
      | Let me help you create or fix your frontend application. React, AngularJS, Angular or just plain Javascript I can assist with any

  mat-card(fxLayout='column', fxLayoutAlign='center center', fxFlex='1')
    div(fxFlex='40%', fxLayout='column', fxLayoutAlign='center center')
      .w3
        != require('assets/svg/gears.svg')

      span.f5(fxLayout='center center') Build Setup/Troubleshooting


    p.flex.items-center.flex-auto
      | Need a fast backend? Build troubles? Let me debug them for you. Or let me setup your project. I can use Webpack, Gulp or in some cases just NPM scripts!

  mat-card.bg-dark-blue.white(fxLayout='column', fxLayoutAlign='center center', fxFlex='1')
    div(fxFlex='40%', fxLayout='column', fxLayoutAlign='center center')
      .w3
        != require('assets/svg/backend-icon.svg')

      span.f5(fxLayout='center center') Backend Development


    p.flex.items-center.flex-auto
      | Need a fast backend? I can create high availability and fast backends with Elixir. Ditch REST for some new age GraphQL
