h2.f2.tc.roboto-slab.b.gray Skills

.ph6(fxLayout='row wrap', fxLayoutAlign='center center')
  .mw-l(fxFlex='33%')
    ngx-charts-pie-chart(
      [view]='[400, 400]',
      [scheme]='frontendSkillsSchemes',
      [results]='frontendSkills',
      [tooltipText]='stripNumbers',
      [labels]='true'
    )

  .mw-l(fxFlex='33%')
    ngx-charts-pie-chart(
      [view]='[400, 400]',
      [scheme]='miscSkillsSchemes',
      [results]='miscSkills',
      [labelFormatting]='edgeCaseLabelFormat',
      [tooltipText]='stripNumbers',
      [labels]='true'
    )

  .mw-l(fxFlex='33%')
    ngx-charts-pie-chart(
      [view]='[400, 400]',
      [scheme]='backendSkillsSchemes',
      [results]='backendSkills',
      [tooltipText]='stripNumbers',
      [labels]='true'
    )

