.mat-button {
  transition: background-color .2s ease-in-out;
}

button.mat-button .mat-button-focus-overlay {
  transition: opacity .2s ease-in-out;
}

.mat-button.white .mat-button-wrapper {
  color: white;
}

.mat-button.mat-button-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mat-button.mat-button-padding--m {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-button.white:disabled {
  background-color: $gray;
  cursor: not-allowed;

  .mat-button-focus-overlay {
    background-color: transparent;
  }
}
