.mat-button {
  transition: background-color .2s ease-in-out;
  // box-sizing: border-box;
  // position: relative;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // cursor: pointer;
  // outline: 0;
  // border: none;
  // -webkit-tap-highlight-color: transparent;
  // display: inline-block;
  // white-space: nowrap;
  // text-decoration: none;
  // vertical-align: baseline;
  // text-align: center;
  // margin: 0;
  // min-width: 88px;
  // line-height: 36px;
  // padding: 0 16px;
  // border-radius: 2px;
}

button.mat-button .mat-button-focus-overlay {
  transition: opacity .2s ease-in-out;
}

.mat-button.white .mat-button-wrapper {
  color: white;
}

.mat-button.mat-button-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mat-button.mat-button-padding--m {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-button.white:disabled {
  background-color: $gray;
  cursor: not-allowed;

  .mat-button-focus-overlay {
    background-color: transparent;
  }
}
