section
  mk-landing-intro.pb3.ph3#home((contactForRates)='onContactForRates($event)')


mk-background-poly([bottomLeftModifier]='50', [heightModifier]='50')
  section
    mk-services

  section
    mk-experience#experience.mt5.db

section
  mk-skills#skills.mt5

mk-background-poly(reversed, [heightModifier]='0')
  section
    mk-projects.mt5#projects

  section
    mk-contact.db.mt5([message]='contactMessagePrefill')
