mk-landing-intro.pb3.ph3#home


mk-background-poly([bottomLeftModifier]='50')
  mk-services#services
  mk-experience.mt5.db

mk-skills.mt5

mk-background-poly(reversed, [heightModifier]='0')
  mk-projects.mt5#portfolio
  mk-contact.db.mt5#contact
