mat-toolbar.z-9999.w-100.flex.items-center.justify-between('[@navBarFixed]'='navBarState | async')
  .icon-s
    != require('assets/svg/logo.svg')

  nav
    ol.flex.items-center.justify-center
      li.white.mh3
        button.nav-bar_button(
          (click)='scrollTo("home")',
          type='button'
        ) Home

      li.white.mh3
        button.nav-bar_button(
          (click)='scrollTo("projects")',
          type='button'
        ) Projects

      //- li.white
      //-   button.mk-list-link Blog

      li.white.mh3
        button.nav-bar_button(
          (click)='scrollTo("contact")',
          type='button'
        ) Contact
