mat-toolbar.z-9999.w-100.flex.items-center.justify-between('[@navBarFixed]'='navBarState | async')
  .icon-s
    != require('assets/svg/logo.svg')

  nav
    ol.flex.items-center.justify-center
      li.white.mh3
        button.nav-bar_button.nav-link-btn(
          (click)='scrollTo("home")',
          type='button'
        )
          a(routerLink='/')
          span Home

      li.white.mh3
        button.nav-bar_button.nav-link-btn(
          (click)='scrollTo("projects")',
          type='button'
        )
          a(routerLink='/')
          span Projects

      li.white.mh3
        button.nav-bar_button.nav-link-btn(
          type='button'
        )
          a(routerLink='/blog')
          span Blog

      //- li.white
      //-   button.mk-list-link Blog

      li.white.mh3
        button.nav-bar_button.nav-link-btn(
          (click)='scrollTo("contact")',
          type='button'
        )
          a(routerLink='/')
          span Contact
