mat-toolbar.bg-dark-blue
  nav(fxFlex='1 1 auto', fxLayoutAlign='center center')
    ol(fxLayoutAlign='center center', fxLayoutGap='20px')
      li.white
        a.mk-list-link Home

      hr.b--white.h2

      li.white
        a.mk-list-link Portfolio

      hr.b--white.h2

      li.white
        a.mk-list-link Blog

      hr.b--white.h2

      li.white
        a.mk-list-link Contact
