mat-toolbar.bg-dark-blue.z-9999('[@navBarFixed]'='navBarState | async')
  nav(fxFlex='1 1 auto', fxLayoutAlign='center center')
    ol(fxLayoutAlign='center center', fxLayoutGap='20px')
      li.white
        a.mk-list-link(ngx-scroll-to='#home') Home

      hr.b--white.h2

      li.white
        a.mk-list-link(ngx-scroll-to='#portfolio') Portfolio

      hr.b--white.h2

      //- li.white
      //-   a.mk-list-link Blog

      //- hr.b--white.h2

      li.white
        a.mk-list-link(ngx-scroll-to='#contact') Contact
