$white: #FAFAFA;
$dark-blue: #1F1F1F;
$light-blue: #4EC6FF;
$light-gray: #cac9c9;
$washed-blue: #041b4e;
$yellow: #F4E044;
$red: #CE3336;
$orange: #DA9A49;
$purple: #9278A9;
$gray: #878787;
$washed-green: #53C899;
$green: #7ED321;

