$white: #FAFAFA;
$dark-blue: #455A64;
$light-blue: #00BCD4;
$washed-blue: #607D8B;
$yellow: #F4E044;
$red: #CE3336;
$orange: #DA9A49;
$purple: #9278A9;
$gray: #878787;
$washed-green: #53C899;
$green: #7ED321;

