$mat-toolbar-height: 40px;
$navbar-footer-size: 64px;
$navbar-layout-switch: 650px;
$navbar-font-size-small-switch: 450px;
$base-font-size: 16px;
$hide-svg-width: 550px;
$screen-max-xs: max-width 599px;
$screen-min-xs: 600px;
$screen-max-sm: max-width 959px;
$screen-min-sm: 960px;
$screen-min-l: 1150px;
